.cfg
.ssh
.git-credentials
github-copilot
ualogin
.cache
luna_pinyin_simp.userdb/*
*.log
*/**/*.userdb/
.cargo
.mail/*
.gmailpass.gpg
.local/share/fcitx5/rime/build/*
.local/share/fcitx5/rime/user.yaml
.local/share/fcitx5/rime/installation.yaml
uassh
private
z_xray
mailctl/*
hypr/scripts/smart-tile/tmp
