#[Unit]
#Description=Netfilter Tables
#Documentation=man:nft(8)
#Wants=network-pre.target
#Before=network-pre.target
#
#[Service]
#Type=oneshot
#ExecStart=/usr/bin/nft -f /etc/nftables.conf
#
#[Install]
#WantedBy=multi-user.target

[Unit]
Description=nftables
Documentation=man:nft(8) http://wiki.nftables.org
Wants=network-pre.target
Before=network-pre.target shutdown.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
StandardInput=null
ProtectSystem=full
ProtectHome=true
ExecStart=/usr/bin/nft -f /etc/nftables.conf ; /usr/bin/ip route add local default dev lo table 100 ; /usr/bin/ip rule add fwmark 1 table 100
ExecReload=/usr/bin/nft -f /etc/nftables.conf
ExecStop=/usr/bin/nft flush ruleset ; /usr/bin/ip route del local default dev lo table 100 ; /usr/bin/ip rule del table 100

[Install]
WantedBy=multi-user.target
